.topbar-wrapper{:style => "z-index: 5;"}
  .topbar
    .topbar-inner
      .container
        %h3
          %a{:href => "#"} SCV Sheriff
        %ul.nav
          %li.active
            = link_to 'Home', root_path
          %li
            = link_to 'Students', students_path
          %li
            %a{:href => "#"} Link
          %li
            %a{:href => "#"} Link
          - if user_signed_in?
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
          - else
            %li
              = link_to('Login', new_user_session_path)
          %ul{:class => "nav secondary-nav"}
            %li.dropdown
              %a.dropdown-toggle{:href => "#"} Dropdown
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Secondary link
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Another link

